@use '_reset.scss';

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-top: 1em;
    h3 {
        font-weight: 400;
        padding: 1em;
        font-size: 3rem;
    }

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 1em;

        input, textarea {
            font-size: 1.5rem;
            border: 1px solid rgba(0,0,0,.5);
        }
        
        input {
            width: 70%;
            padding: .8em;
            border-radius: 5px;
        }

        label {
            padding: 1em;
        }

        textarea {
            min-width: 70%;
            max-width: 70%;
            padding: 1em;
        }

	}
    
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

    &__map {
        width: 90vw;

        iframe {
            width: 100%;
        }
    }

}

