@use '_reset.scss';

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-top: 1em;
    
    
	form {
        display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 1em;
        
        input, textarea {
            font-size: 1.5rem;
            border: 1px solid rgba(0,0,0,.5);
        }
        
        input {
            width: 70%;
            padding: .8em;
            border-radius: 5px;
        }
        
        label {
            padding: 1em;
        }
        
        textarea {
            min-width: 70%;
            max-width: 70%;
            min-height: 8vh;
            padding: 1em;
        }
        
	}
    
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

    &__map {
        width: 90vw;
        margin-top: 1em;

        iframe {
            width: 100%;
        }
    }

}

@media (min-width: 768px) {
    .location {
        &__map {
            width: 70vw;
        }
    }
}

@media (min-width: 1400px) {
    .location {
        &__map {
            width: 50vw;
        }
    }
}
