main .about-us,
main .offers,
main .offers__cards .offers__card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	.about-us {
		font-size: 3rem;

		&__body {
			display: flex;
			flex-direction: column;

			img {
				width: 100%;
				height: 50%;
				padding: 0.5em;
			}

			&__text {
				padding: 0.5em;

				p {
					margin-top: 0.5em;
					font-size: 1.5rem;
				}
				h3 {
					font-size: 2.4rem;
					font-weight: 700;
					text-align: center;
				}
			}
		}
	}

	.banner-family {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2em;
		min-height: 30vh;
		background-image: url("../../dist/img/girlSmall.jpg");
		background-size: cover;
		background-position: center;
		font-size: 1.5rem;
		z-index: 1;

		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(19, 25, 22, 0.6);
			z-index: 2;
		}

		&__text {
			position: absolute;
			top: 50%;
			left: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60%;
			height: 45%;
			text-align: center;
			color: #fff;
			border: 3px solid #fff;
			transform: translate(-50%, -50%);
			z-index: 3;
		}
	}

	.offers {
		justify-content: center;
		text-align: center;
		margin-top: 0.5em;
		font-size: 3rem;

		&__text {
			padding: 1em;
			font-size: 2rem;

			a {
				font-weight: bold;
				color: rgb(11, 152, 72);
				font-size: 2.5rem;
				transition: color 0.3s;
			}

			a:hover {
				color: rgb(10, 218, 100);
			}
		}

		&__cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding: 0.7em;
			font-size: 2rem;

			.offers__card {
				justify-content: center;
				width: 81vw;
				padding: 1.5em;
				margin-top: 1.5em;
				text-align: center;
				box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.4);
				border-radius: 5px;
				transition: transform 0.3s;

				.card-title,
				.price,
				.card-options {
					padding: 0.3em;
				}

				.card-title {
					font-size: 2.5rem;
				}

				.card-options {
					text-align: left;
					color: rgb(19, 25, 22);

					.fa-check {
						color: rgb(20, 192, 15);
					}

					.option-off {
						color: rgb(117, 117, 117);
					}

					p {
						padding: 0.2em 0em;
					}
				}

				.standard {
					background-color: rgb(10, 218, 100);
					box-shadow: 2px 2px 5px rgb(10, 218, 100);
				}
			}
		}

		.offers__card:hover {
			transform: scale(1.05);
		}
	}
}

@media (min-width: 576px) {
	main {
		.offers__cards {
			.offers__card {
				padding: 2em 0em;
				width: 60vw;
				margin-left: 1.5em;
			}
		}
	}
}

@media (min-width: 768px) {
	main {
		.about-us__body {
			flex-direction: row;
			justify-content: center;

			h3 {
				text-align: left;
			}

			&__text {
				margin-left: 1em;
				font-size: 3rem;

				p {
					font-size: 2rem;
				}

				h3 {
					font-size: 3rem;
				}
			}

			img {
				content: url("../../dist/img/watersBig.jpg");
				width: 50%;
			}
		}

		.banner-family {
			background-image: url("../../dist/img/girlBig.jpg");

			&__text {
				font-size: 2rem;
			}
		}

		.offers__cards {
			.offers__card {
				width: 41vw;
			}

			.offers__card:first-child {
				margin-left: 0;
			}
		}
	}
}

@media (min-width: 992px) {
	main {
		.banner-family__text {
			font-size: 3rem;
		}

		.offers__cards {
			font-size: 1.7rem;

			.offers__card {
				width: 30vw;
			}
		}
	}
}

@media (min-width: 1200px) {
	main .offers__cards .offers__card {
		width: 23vw;
	}
}

@media (min-width: 1400px) {
	main .offers__cards .offers__card {
		width: 15vw;
	}
}
