nav .nav,
nav .nav__desktop ul,
.mobile-menu {
	display: flex;
	align-items: center;
}

nav {
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
	z-index: 100;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;

		&__mobile {
			.burger {
				font-size: 3rem;
				background: none;
				border: none;
				color: #333;
			}
		}

		&__desktop {
			display: none;
			ul {
				justify-content: center;

				.nav__link {
					padding: 1em;
					transition: background-color 0.3s, color 0.3s, transform 0.3s;
					cursor: pointer;

					a {
						color: black;
					}

					&--present {
						background-color: #333;
						color: #fff;

						a {
							color: #fff;
						}
					}
				}

				.nav__link:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: #fff;
	transform: translateX(110%);
	transition: transform 0.4s;
	z-index: 1000;

	button {
		position: fixed;
		top: 0;
		right: 0;
		padding: 1em;
		font-size: 3rem;
		background: none;
		border: none;
		color: #333;
	}

	&--active {
		display: flex;
		transform: translateX(0%);
	}

	li {
		font-size: 2.2rem;
		padding: 1.3em;
	}
}

@media (min-width: 576px) {
	nav {
		.nav__title {
			font-size: 2.5rem;
		}
	}
}

@media (min-width: 992px) {
	nav .nav {
		padding: 0.5em;
		&__mobile {
			display: none;
		}

		&__desktop {
			display: flex;
		}
	}
}