 @use "_reset.scss";
 @use "_nav.scss";
 @use "_header.scss";
 @use "_main.scss";
 @use "_footer.scss";
 @use "_form.scss";
 @use "_offer.scss";
 @use "_media.scss";

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 7em;
}

body {
	font-size: 2rem;
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	background-color: #fff;
	color: #333;
	overflow-x: hidden;
}

.wrapper {
	width: 1200px;
	max-width: 100vw;
	margin: 0 auto;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}


section {
	margin-top: 1em;
}

section:first-child {
	margin-top: 0;
}

.section-title {
	font-weight: 400;
	padding: 1em;
	text-transform: uppercase;
	font-size: 3.5rem;
}

.price {
	font-size: 2.7rem;
	font-weight: 700;
}

.choose {
	margin-top: 1.5em;
	padding: 0.6em;
	width: 60%;
	background: none;
	border: none;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
	color: #333;
	font-size: 1.5rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.choose:hover {
	background-color: rgb(10, 218, 100);
}

.fa-check {
	color: rgb(20, 192, 15);
}

.option-off {
	color: rgb(150, 150, 150);
}

