@use "_reset.scss";

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-size: 2rem;
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	background-color: #fff;
	color: #333;
}

.wrapper {
	width: 1200px;
	max-width: 100vw;
	margin: 0 auto;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}


nav {
	background-color: #fff;
	z-index: 100;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;

		&__mobile {
			.burger {
				font-size: 3rem;
				background: none;
				border: none;
			}
		}

		&__desktop {
			display: none;
			ul {
				display: flex;
				justify-content: center;
				align-items: center;

				li {
					padding: 1em;
					transition: background-color 0.3s, color 0.3s;
					cursor: pointer;

					a {
						color: black;
					}
				}

				li:hover {
					background-color: #333;
				}

				li:hover > a {
					color: #fff;
				}
			}
		}
	}
}

.mobile-menu {
	display: flex;
	position: fixed;
	top: 0;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	transform: translateX(100%);
	transition: transform 0.4s;
	background-color: #fff;

	button {
		position: fixed;
		top: 0;
		right: 0;
		padding: 1em;
		font-size: 3rem;
		background: none;
		border: none;
	}

	&--active {
		display: flex;
		transform: translateX(0%);
	}

	li {
		font-size: 2.2rem;
		padding: 1.3em;
	}
}


header {
	position: relative;
	background-image: url('dist/img/jungle-1807476_640.jpg');
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	z-index: -2;

	.hero-text {
		color: #fff;
		font-size: 2rem;
		z-index: 2;

		p {
			margin-bottom: 0.2em;
			padding: 0em 1em;
		}

		h2 {
			padding: 0em 0.7em;
		}
	}

	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}
}

main {
	.about-us {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 3rem;
		
		h3 {
			font-weight: 400;
		}
		
		&__title {
			padding: 1em;
			text-transform: uppercase;
		}

		&__body {
			display: flex;
			flex-direction: column;

			img
			 {
				padding: 0.5em;
			}

			&__text {
				padding: 0.5em;

				p {
					margin-top: 0.5em;
					font-size: 1.5rem;
				}
				h3 {
					font-size: 2.4rem;
					font-weight: 700;
					text-align: center;
				}
	
			}

		}
	}

	.banner-family {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 30vh;
		margin-top: 2em;
		background-image: url('dist/img/girl-5785590_640.jpg');
		background-size: cover;
		background-position: center;
		font-size: 1.5rem;
		z-index: 1;

		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(19, 25, 22, 0.6);
			z-index: 2;
		}

		&__text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			height: 45%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			border: 3px solid #fff;
			z-index: 3;
		}
	}
}

@media (min-width: 576px) {
	nav {
		.nav {
			&__title {
				font-size: 2.5rem;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		.nav__mobile {
			display: none;
		}

		.nav__desktop {
			display: flex;
			font-size: 2.7rem;

			.nav__title {
				font-size: 3.3rem;
			}
		}
	}

	header {
		margin-top: 0;
		background-image: url('dist/img/jungle-1807476_1920.jpg');

		.hero-text {
			font-size: 2.5rem;
		}
	}

	.mobile-menu {
		display: none;
	}

	main {
		.about-us {
			
			&__body {
				flex-direction: row;
				justify-content: center;
				
				h3 {
					text-align: left;
				}
				
				&__text {
					margin-left: 1em;
					font-size: 3rem;

					p {
						font-size: 2rem;
					}

					h3 {
						font-size: 3rem;
					}
				}

				img {
					content: url('dist/img/waters-3095682_1920.jpg');
					width: 47%;
				}
			}
		}

		.banner-family {
			background-image: url('dist/img/girl-5785590_1920.jpg');

			&__text {
				font-size: 2rem;
			}
			
		}
	}

}

@media (min-width: 997px) {
	main {
		.banner-family {
			&__text {
				font-size: 3rem;
			}
		}
	}
}
