@use "_reset.scss";
@use "_form.scss";
@use "_offer.scss";

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 7em;
}

body {
	font-size: 2rem;
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	background-color: #fff;
	color: #333;
	overflow-x: hidden;
}

.wrapper {
	width: 1200px;
	max-width: 100vw;
	margin: 0 auto;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

section {
	margin-top: 1em;
}

section:first-child {
	margin-top: 0;
}

.section-title {
	font-weight: 400;
	padding: 1em;
	text-transform: uppercase;
	font-size: 3.5rem;
}

.price {
	font-size: 2.7rem;
	font-weight: 700;
}

.choose {
	margin-top: 1.5em;
	padding: 0.6em;
	width: 60%;
	background: none;
	border: none;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
	color: #333;
	font-size: 1.5rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.choose:hover {
	background-color: rgb(10, 218, 100);
}

.fa-check {
	color: rgb(20, 192, 15);
}

.option-off {
	color: rgb(150, 150, 150);
}

nav {
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
	z-index: 100;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;

		&__mobile {
			.burger {
				font-size: 3rem;
				background: none;
				border: none;
				color: #333;
			}
		}

		&__desktop {
			display: none;
			ul {
				display: flex;
				justify-content: center;
				align-items: center;

				.nav__link {
					padding: 1em;
					transition: background-color 0.3s, color 0.3s;
					cursor: pointer;
					transition: transform .3s;

					a {
						color: black;
					}

					&--present {
						background-color: #333;
						color: #fff;

						a {
							color: #fff;
						}
					}
				}

				.nav__link:hover{
					transform: scale(1.1);
				}
			}
		}
	}
}

.mobile-menu {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	transform: translateX(110%);
	transition: transform 0.4s;
	background-color: #fff;
	z-index: 1000;

	button {
		position: fixed;
		top: 0;
		right: 0;
		padding: 1em;
		font-size: 3rem;
		background: none;
		border: none;
		color: #333;
	}

	&--active {
		display: flex;
		transform: translateX(0%);
	}

	li {
		font-size: 2.2rem;
		padding: 1.3em;
	}
}

header {
	position: relative;
	background-image: url("../../dist/img/jungleSmall.jpg");
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	z-index: -2;

	.hero-text {
		color: #fff;
		font-size: 2rem;
		z-index: 2;

		p {
			margin-bottom: 0.2em;
			padding: 0em 1em;
		}

		h2 {
			padding: 0em 0.7em;
		}
	}

	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}
}

main {
	.about-us {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 3rem;

		&__body {
			display: flex;
			flex-direction: column;

			img {
				padding: 0.5em;
			}

			&__text {
				padding: 0.5em;

				p {
					margin-top: 0.5em;
					font-size: 1.5rem;
				}
				h3 {
					font-size: 2.4rem;
					font-weight: 700;
					text-align: center;
				}
			}
		}
	}

	.banner-family {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 30vh;
		margin-top: 2em;
		background-image: url("../../dist/img/girlSmall.jpg");
		background-size: cover;
		background-position: center;
		font-size: 1.5rem;
		z-index: 1;

		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(19, 25, 22, 0.6);
			z-index: 2;
		}

		&__text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			height: 45%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			border: 3px solid #fff;
			z-index: 3;
		}
	}

	.offers {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin-top: 0.5em;
		font-size: 3rem;

		&__text {
			padding: 1em;
			font-size: 2rem;

			a {
				font-weight: bold;
				color: rgb(10, 218, 100);
			}
		}

		&__cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding: 0.7em;
			font-size: 2rem;

			.offers__card {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 81vw;
				padding: 1.5em;
				margin-top: 1em;
				text-align: center;
				box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.4);
				border-radius: 5px;
				transition: transform .3s;

				.card-title,
				.price,
				.card-options {
					padding: 0.3em;
				}

				.card-title {
					font-size: 2.5rem;
				}

				.card-options {
					text-align: left;

					p {
						padding: 0.2em 0em;
					}
				}

				.standard {
					background-color: rgb(10, 218, 100);
					box-shadow: 2px 2px 5px rgb(10, 218, 100);
				}
			}
		}

		.offers__card:hover {
			transform: scale(1.1);
		}
	}
}

footer {
	margin-top: 5em;
	background-color: rgb(250, 247, 247);
	font-size: 1rem;

	.top {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		padding: 2em 1em;

		&__title {
			padding: 0.2em;
			margin-bottom: 0.5em;
			font-size: 2rem;
		}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 1.4rem;
		}

		&__content h3 {
			font-size: 1.6rem;
		}

		&__about-us,
		&__our-company,
		&__docs {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 1em;
		}

		&__about-us li,
		&__our-company li,
		&__docs li {
			padding: 0.8em 0;
		}

		&__about-us li a:hover, &__our-company li a:hover, &__docs li a:hover {
			color: rgb(151, 149, 146);
		}
	}

	.bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 1em;
		font-size: 1.5rem;
	}
}

@media (min-width: 576px) {
	nav {
		.nav {
			&__title {
				font-size: 2.5rem;
			}
		}
	}

	main {
		.offers {
			&__cards {
				.offers__card {
					padding: 2em 0em;
					width: 60vw;
					margin-left: 1.5em;
				}
			}
		}
	}

	footer {
		.top {
			&__content {
				padding: 1em 2em;
				font-size: 1.5rem;
			}

			&__content h3 {
				font-size: 2rem;
			}
			&__about-us,
			&__our-company,
			&__docs {
				padding: 2em;
			}

			&__about-us li,
			&__our-company li,
			&__docs li {
				padding: 0.8em 0;
			}
		}
	}
}

@media (min-width: 768px) {
	.choose {
		padding: 0.8em;
		font-size: 2rem;
	}
	
	header {
		margin-top: 0;
		background-image: url("../../dist/img/jungleBig.jpg");

		.hero-text {
			font-size: 2.5rem;
		}
	}

	

	main {
		.about-us {
			&__body {
				flex-direction: row;
				justify-content: center;

				h3 {
					text-align: left;
				}

				&__text {
					margin-left: 1em;
					font-size: 3rem;

					p {
						font-size: 2rem;
					}

					h3 {
						font-size: 3rem;
					}
				}

				img {
					content: url("../../dist/img/watersBig.jpg");
					width: 47%;
				}
			}
		}

		.banner-family {
			background-image: url("../../dist/img/girlBig.jpg");

			&__text {
				font-size: 2rem;
			}
		}

		.offers {
			&__cards {
				.offers__card {
					width: 41vw;
				}

				.offers__card:first-child {
					margin-left: 0;
				}
			}
		}
	}

	footer {
		.top {
			flex-direction: column;

			&__title {
				font-size: 3rem;
			}

			&__content {
				flex-direction: row;
				justify-content: space-between;
				align-items: start;
				font-size: 1.8rem;
			}

			&__content h3 {
				font-size: 2.2rem;
			}
		}
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 8em;
	}
	.choose {
		font-size: 1.5rem;
	}

	nav {
		.nav {
			padding: 0.5em;
			&__mobile {
				display: none;
			}

			&__desktop {
				display: flex;
			}
		}
	}

	main {
		.banner-family {
			&__text {
				font-size: 3rem;
			}
		}

		.offers {
			&__cards {
				font-size: 1.7rem;

				.offers__card {
					width: 30vw;
				}
			}
		}
	}

	footer {
		.top {
			flex-direction: row;
			&__title {
				font-size: 3.5rem;
			}

			&__content {
				font-size: 1.5rem;
			}
			&__about-us,
			&__our-company {
				padding: 2em 3em;
			}
		}
	}
}

@media (min-width: 1200px) {
	main {
		.offers {
			&__cards {
				.offers__card {
					width: 23vw;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	main {
		.offers {
			&__cards {
				.offers__card {
					width: 15vw;
				}
			}
		}
	}
}
